*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(135deg, #000000, #1a1a1a, #444444, #777777);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.calculadora{
    background-color: rgb(30, 16, 16);
    width: 17rem;
    height: auto;
    padding: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
}

.calculadora h1{
    color: #fff;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.calculadora h2{
   width: 100%;
   height: 60px;
   border-radius: 10px;
   border: none;
   padding: 10px;
   display: flex;
   margin-bottom: 20px;
   font-size: 20px;
   background-color: #fff;
}

.campo h2{ 
    display: flex;
    align-items: center;
    font-size: 25px;
}

.campo-botoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cor-l{
   background-color: orange;
}

.cor-2{
    background-color: rgb(245, 196, 105);
 }



.campo-botoes button{
   width: 70px;
   height: 55px;
   margin: 2px;
   border-radius: 50%;
   border: none;
   font-size: 22px;
   transition: ease-in-out 0.1s;
}

.campo-botoes button:hover{
    background-color: #a4a1a1;
    color: #fff;
}